/* Body */


body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
  text-align: center;
}


.idk {max-width: 960px;
  margin: 0 auto;
  padding-top: 120px;
  line-height: 25px;
}

.contact {
  font-size: 42px;
  text-align: center;
  color: mediumaquamarine;
  margin: 40px;
}

.container-1 {
  display: inline-flex;
  flex-direction: column;
  margin: 25px;
}

.container-1 div {
  border: 3px #15504E solid;
  padding: 10px;

}


.box-1 {

}

.box-2 {

}

.box-3 {

}



.box-1 h3 {
  font-size: 20px;
  font-weight: bold;
}

/* Header */

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  top: 0;
  left: 0;
  background-color: #15504E;


}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 30px;
}

.logo img {
  width: 70px;
  height: 60px;
  margin-right: 12px;
}

.logo span {
  color: #CEBB6C;
  font-size: 24px;
}

header nav {
  padding-right: 40px;
  text-decoration: none;
}

/* Links */

/* unvisited link */
a:link {
    color: #CEBB6C;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

/* Footer */
.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.box-4 {

}

.info {

}

.title {

}

.copyright {

}
/* Footer */
